<ion-header>
  <ion-toolbar>
    <ion-title>documentViewer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="viewDoc()" expand="block" fill="clear" shape="round">
    View Document
  </ion-button>

  
  <ion-button (click)="canView()" expand="block" fill="clear" shape="round">
    can View Document?
  </ion-button>

  
  <ion-button (click)="viewDoc1()" expand="block" fill="clear" shape="round">
    View Document 1
  </ion-button>
  
  <ion-button (click)="onMissingApp()" expand="block" fill="clear" shape="round">
    Mising app
  </ion-button>
  
</ion-content>
